.hand-pile-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card-slot {
  display: block;
  position: relative;
  height: 186px;
  width: 120px;
  margin-left: 12px;
}
