* {
  color: #000000;
  font-size: 14px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: #14867b;
  height: 100%;
}

.app-container {
  display: block;
}

.game-container {
  display: grid;
  grid-template-rows: 220px 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  padding: 20px;
  margin: 0 auto;
}

.top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom-row {
  display: flex;
  margin-bottom: 24px;
}
